.item{
	background-color: lightslategrey;
	padding: 20px;
	width: 200px;
	margin-top: 10px;
	font-weight: bold;
	text-align: center;
}
.container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
.item:hover {
	background-color: orange;
}
	
a {
	color: black;
}