table, td, th, tr {
	border-collapse: collapse;
	border: 1px solid black;
}

td {
	background-color: white;
}
th {
	background-color: gray;
	margin: 2px 20px 2px 20px;
	width:  25%;
}

.details {
	border-radius: 15px;
	border:solid;
	background-color: powderblue;
	padding: 10px;
}
.details > h2 {
	text-align: center;
	
}
.details div {
	border:solid;
	border-width: 2px 0 0 0;
}
.details div:hover {
	background-color: RGBA(255,255,255,0.3);
	
}
ol ul {
	font-size: 13px;
	font-style: italic;
}

@media all and (max-width:800px) {
	body {
		background-color: powderblue;
	}
	.details h2 {
		text-align: center;
	}
	.details {
		background-color: white;
	}
	
}